
@{
    ViewData["Title"] = "GetDrink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>Cocktail</th>
        <th>Ingredients</th>
        <th>Instructions</th>
    </tr>
    <tr>
        @* display the model (drink model in this case) information *@
        <td>@Model.Name <br /><img src=@Model.Image width="200" height="200" /></td>
        <td>
            @Model.strMeasure1 @Model.strIngredient1<br />
            @Model.strMeasure2 @Model.strIngredient2<br />
            @Model.strMeasure3 @Model.strIngredient3<br />
            @Model.strMeasure4 @Model.strIngredient4<br />
            @Model.strMeasure5 @Model.strIngredient5<br />
            @Model.strMeasure6 @Model.strIngredient6<br />
            @Model.strMeasure7 @Model.strIngredient7<br />
            @Model.strMeasure8 @Model.strIngredient8<br />
            @Model.strMeasure9 @Model.strIngredient9<br />
            @Model.strMeasure10 @Model.strIngredient10<br />
            @Model.strMeasure11 @Model.strIngredient11<br />
            @Model.strMeasure12 @Model.strIngredient12<br />
            @Model.strMeasure13 @Model.strIngredient13<br />
            @Model.strMeasure14 @Model.strIngredient14<br />
            @Model.strMeasure15 @Model.strIngredient15<br />
        </td>
        <td width="500">@Model.Instructions</td>
    </tr>

</table>

@* button to reload page and get new recipe *@
<form class="float-left">
    <button onClick="window.location.reload();">New Drink</button>
</form>

@* button to save Drink into the database and to send to Movie view? *@
<section class="float-right">
    <button type="button" onclick="location.href='@Url.Action("ToSaveDrink", "SaveUserChoice", new { drinkId = Model.Id, dCategory = Model.Category})'" class="form-control btn-success col-12 col-6">Get Movie Recommendation</button>
</section>